body {background-color: burlywood;}

nav { 
    display: inline-block;
    vertical-align: top;}

div {
    width: 23%;
    padding: 1%;}

nav {
    width: 73%;
    padding: 1%;}

.ul { width: 50%;
margin-left: auto;}

.img {text-align: center;}

#heroimg {
    height: 600px;
    padding: 25px;
}
ul { display: inline-block;
    vertical-align: top;
    padding: center;}